EXPO_PUBLIC_APPLE_SIGN_IN_AVAILABLE=false
EXPO_PUBLIC_DATA_API_URL=https://api.borel.one/api/proxy/<your-app-id>/db
EXPO_PUBLIC_AUTH_URL=https://api.borel.one/api/proxy/<your-app-id>/auth
EXPO_PUBLIC_PREVIEW_AUTH_URL=https://api.borel.one/api/proxy/<your-app-id>/psession
EXPO_PUBLIC_BOREL_STORAGE=https://api.borel.one/api/proxy/<your-app-id>/storage
EXPO_PUBLIC_BOREL_AI=https://api.borel.one/api/proxy/<your-app-id>/ai
EXPO_PUBLIC_BOREL_ACCOUNT=https://api.borel.one/api/proxy/<your-app-id>/account
EXPO_PUBLIC_BOREL_APPLE=https://api.borel.one/api/proxy/<your-app-id>/apple
EXPO_PUBLIC_BOREL_USAGE_URL=https://borel.one/project/<something>?open=aicloud
EXPO_PUBLIC_BOREL_INVITE_URL=https://borel.one/i/<invite-link>
