# Ignore playwright
.playwright-cli
.playwright-mcp

node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store

# Native projects, if you run `npx expo prebuild`
/ios
/android

# Local env
.env
.env.local
